# Exemple de fichier .env.example
# Copiez ce fichier en .env et remplissez avec vos vraies valeurs

TELEGRAM_BOT_TOKEN=your_tegram_bot_token_here
CHAT_ID=your_chat_id_here
LEADERBOARD_URL=https://api.worldguessr.com/api/leaderboard
